.container{style: 'padding: 15px;'}
  %h1.title Dodaj uczelnię
  .container
    .columns
      .column.is-9
        = form_for(@academy, url: new_academy_path(@academy), remote: true, authenticity_token: true) do |f|
          .field
            = label(:name, 'Nazwa uczelni', class: 'label')
            .control
              = f.text_field :name, class: 'input'
          .field
            = label(:city, 'Miasto', class: 'label')
            .control
              = f.text_field :city, class: 'input'
          .field
            = label(:academy_type, 'Typ uczelni', class: 'label')
            .control
              .select
                = f.select(:academy_type, [['Uniwersytet', 'university'], ['Politechnika', 'polytechnic'], ['Akademia muzyczna', 'music_academy'], ['Uniwersytet Medyczny', 'medical_academy'], ['Akademia artystyczna', 'art_academy'], ['Inny', 'other']], { include_blank: true })
          .field
            .control
              = f.submit "Dodaj", class: 'button is-primary'
      .column
        %article.message.is-warning
          .message-header
            %p Info
          .message-body
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Tempus quis placerat ut, porta nec nulla. 
            Vestibulum rhoncus ac ex sit amet fringilla. 
            Nullam gravida purus diam, et dictum. Aenean ac, in mollis lectus. Donec sodales, 
            arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque.