.field
  = label(:date_of_birth, 'Data urodzenia', class: 'label')
  .control.has-icons-left.has-icons-right
    = f.date_field :date_of_birth, class: 'input'
    %span.icon.is-small.is-left
      %i.fas.fa-calendar
    %span.icon.is-small.is-right
      %i.fas.fa-check
.field
  %label.label Płeć
  .control.has-icons-left
    .select
      = f.select(:gender, [['Kobieta', 'female'], ['Mężczyzna', 'male'], ['Inne', 'not_specified']], { include_blank: true })
      %span.icon.is-small.is-left
        %i.fas.fa-transgender-alt
.field
  = label(:city, 'Miasto', class: 'label')
  .control.has-icons-left.has-icons-right
    = f.text_field :city, class: 'input'
    %span.icon.is-small.is-left
      %i.fas.fa-city
    %span.icon.is-small.is-right
      %i.fas.fa-check
.field{'v-if':"accountType=='schoolboy'"}
  %label.label Szkoła średnia
  .control.has-icons-left
    .select
      = f.select :high_school_id, HighSchool.all.collect {|p| [ p.name, p.id ] }
      %span.icon.is-small.is-left
        %i.fas.fa-school
.field{'v-if':"accountType=='student'"}
  %lable.label Uczelnia
  .control.has-icons-left
    .select
      = f.select :academy_id, Academy.all.collect {|p| [ p.name, p.id ] }
      %span.icon.is-small.is-left
        %i.fas.fa-school
.field{'v-if':"accountType=='student'"}
  %label.label Kierunek
  .control.has-icons-left
    .select
      = f.select :field_of_study_id, FieldOfStudy.all.collect {|p| [ p.name, p.id ] }
      %span.icon.is-small.is-left
        %i.fas.fa-graduation-cap
.field
  = label(:date_of_matura, 'Data pierwszej matury', class: 'label')
  .control.has-icons-left.has-icons-right
    = f.date_field :date_of_matura, class: 'input'
    %span.icon.is-small.is-left
      %i.fas.fa-graduation-cap
    %span.icon.is-small.is-right
      %i.fas.fa-check