.tile.is-ancestor
  .tile.is-vertical
    .tile
      .tile.is-parent
        %article.tile.is-child.notification.is-primary.has-text-centered
          %p Użytkownicy
          %strong= User.all.count
      .tile.is-parent
        %article.tile.is-child.notification.is-primary.has-text-centered
          %p Uczelnie
          %strong= Academy.all.count
    .tile
      .tile.is-parent
        %article.tile.is-child.notification.is-primary.has-text-centered
          %p Kierunki
          %strong= FieldOfStudy.all.count
      .tile.is-parent
        %article.tile.is-child.notification.is-primary.has-text-centered
          %p Szkoły:
          %strong= HighSchool.all.count
    .tile
      .tile.is-parent
        %article.tile.is-child.notification.is-primary.has-text-centered
          %p Studenci
          %strong= User.where(account_type: 'student').count
      .tile.is-parent
        %article.tile.is-child.notification.is-primary.has-text-centered
          %p Partnerzy
          %strong= User.where(account_type: 'partner').count