%table.table.is-fullwidth
  %thead
    %tr
      %th Przedmiot
      %th Poziom
      %th Wynik
  %tbody
  - @user.matura_results.each do |mr|
    %tr
      %td 
        = mr.matura_subject.name
      %td
        = MaturaResult.human_enum_name(:level, mr.level)
      %td
        = mr.result
.button.is-primary{'v-on:click':'showEditResultsForm'} Zaktualizuj wyniki
= form_for(@matura_result, url: edit_matura_results_path(@matura_result, id: current_user.id), method: :post, remote: true, authenticity_token: true) do |f|
  = render 'edit_matura_results_form', f: f