.dashboard
  .container{style: 'padding: 25px;'}
    .columns
      .column.is-4
        .columns.is-centered.is-vcentered
          .column
            %h2.title
              = @user.username
            %h2.subtitle 
              = @user.email
        .column
          .list
            - @user.field_of_studies.each do |field|
              %li.list-item
                = field.name
        .container
          - if current_user.schoolboy?
            = render 'user_matura_results'
          - elsif current_user.admin?
            = render 'basic_statistics'
      .column
        - if current_user.schoolboy?
          = render 'report'
        - elsif current_user.admin?
          = render 'admin_panel'