= javascript_pack_tag 'user_dashboard'
.dashboard#user-dashboard
  .container{style: 'padding: 25px;'}
    .columns
      .column.is-4
        .columns.is-centered.is-vcentered
          .column
            %h2.title
              = @user.username
            %h2.subtitle 
              = @user.email
        .column
          .list
            - @user.field_of_studies.each do |field|
              %li.list-item
                = field.name
                .container.is-pulled-right
                  = link_to delete_study_interest_path(study_interest: { user_id: @user, field_of_study_id: field}), method: :delete, class: 'button is-small is-danger' do
                    %i.fas.fa-times
          - if @user.study_interests.count < 5
            .button.is-primary{'v-on:click':'showStudyInterestForm'} Dodaj kierunki studiów
            = form_for(@study_interest, url: create_study_interest_path(@study_interest, id: current_user.id), method: :post, remote: true, authenticity_token: true) do |f|
              = render 'add_study_interest_form', f: f
        .container
          - if current_user.schoolboy?
            = render 'user_matura_results'
          - elsif current_user.admin?
            = render 'basic_statistics'
      .column
        - if current_user.schoolboy?
          = render 'report'
        - elsif current_user.admin?
          = render 'admin_panel'