= form_for :user, url: {action: 'create'} do |f|
  .field
    = label(:user, :username, 'Nazwa użytkownika', class: 'label')
    .control.has-icons-left.has-icons-right
      = f.text_field :username, class: 'input'
      %span.icon.is-small.is-left
        %i.fas.fa-user
      %span.icon.is-small.is-right
        %i.fas.fa-check
  .field
    = label(:user, :email, 'Email', class: 'label')
    .control.has-icons-left.has-icons-right
      = f.email_field :email, class: 'input'
      %span.icon.is-small.is-left
        %i.fas.fa-envelope
      %span.icon.is-small.is-right
        %i.fas.fa-check
  .field
    = label(:user, :password, 'Password', class: 'label')
    .control.has-icons-left.has-icons-right
      = f.email_field :email, class: 'input'
      %span.icon.is-small.is-left
        %i.fas.fa-key
      %span.icon.is-small.is-right
        %i.fas.fa-check
  .field
    = label(:user, :account_type, 'Status', class: 'label')
    .control
      .select
        = select(:user, :account_type, [['Student', 0], ['Uczeń', 1], ['Inne', 2]])
