= form_for :user, url: {action: 'create'}, html: {id: 'userForm'} do |f|
  #basics{'v-show':'formIndex==0'}
    .field
      = label(:user, :username, 'Nazwa użytkownika', class: 'label')
      .control.has-icons-left.has-icons-right
        = f.text_field :username, class: 'input'
        %span.icon.is-small.is-left
          %i.fas.fa-user
        %span.icon.is-small.is-right
          %i.fas.fa-check
    .field
      = label(:user, :email, 'Email', class: 'label')
      .control.has-icons-left.has-icons-right
        = f.email_field :email, class: 'input'
        %span.icon.is-small.is-left
          %i.fas.fa-envelope
        %span.icon.is-small.is-right
          %i.fas.fa-check
    .field
      = label(:user, :password, 'Password', class: 'label')
      .control.has-icons-left.has-icons-right
        = f.password_field :password, class: 'input'
        %span.icon.is-small.is-left
          %i.fas.fa-key
        %span.icon.is-small.is-right
          %i.fas.fa-check
    .field
      = label(:user, :account_type, 'Status', class: 'label')
      .control
        .select
          = select(:user, :account_type, [['Student', 0], ['Uczeń', 1], ['Inne', 2]])
  #details{'v-show':'formIndex==1'}
    .field
      = label(:user, :date_of_birth, 'Data urodzenia', class: 'label')
      .control.has-icons-left.has-icons-right
        = f.date_field :date_of_birth, class: 'input'
        %span.icon.is-small.is-left
          %i.fas.fa-calendar
        %span.icon.is-small.is-right
          %i.fas.fa-check
    .field
      = label(:user, :gender, 'Płeć', class: 'label')
      .control.has-icons-left
        .select
          = select(:user, :gender, [['Kobieta', 0], ['Mężczyzna', 1], ['Inne', 2]])
          %span.icon.is-small.is-left
            %i.fas.fa-transgender-alt
    .field
      = label(:user, :city, 'Miasto', class: 'label')
      .control.has-icons-left.has-icons-right
        = f.text_field :city, class: 'input'
        %span.icon.is-small.is-left
          %i.fas.fa-city
        %span.icon.is-small.is-right
          %i.fas.fa-check
    .field
      = label(:user, :date_of_matura, 'Data pierwszej matury', class: 'label')
      .control.has-icons-left.has-icons-right
        = f.date_field :date_of_matura, class: 'input'
        %span.icon.is-small.is-left
          %i.fas.fa-graduation-cap
        %span.icon.is-small.is-right
          %i.fas.fa-check
  #matura{'v-show':'formIndex==2'}
    = @maturas.each do |matura|
      = fields_for 'matura_results', matura do |m|
        .field.is-grouped.has-addons
          .control.has-icons-left
            .select
              = select(:matura_results, :subject, [['Biologia', 0], ['Matematyka', 1], ['Chemia', 2]]) ## Should fetch from db
              %span.icon.is-small.is-left
                %i.fas.fa-chalkboard-teacher
          .control
            .select
              = select(:matura_results, :level, [['Podstawowy', 0], ['Rozszerzony', 1]])
          .control
            = m.number_field :result, class: 'input'