.container{style: 'margin-top: 30px;'}
  %h1.title Uczelnie
  .level
    .level-left
      .level-item
        .field.has-addons
          .control
            %input.input
          .control
            %button.button.is-info Szukaj
    .level-right
      .level-item.has-text-centered
        %div
          %p.heading Kierunków
          %p.title
            = @all_fields.count
  .level
    .container
      - @fields.each do |field|
        .box{style: 'padding: 10px; margin: 5px;'}
          .columns.is-centerd.is-vcentered
            .column.is-1
              %figure.image.is-64x64
                %image.is-rounded{src: 'https://bulma.io/images/placeholders/128x128.png'}
            .column.is-7.has-text-left
              %p.title.is-size-4 
                = field.name
              %p.subtitle
                = field.field_type
            .column.is-1.has-text-centered
              %div
                %span.heading Prowadzony na
                %span.title.is-block{style: 'margin-bottom: 7px;'}
                  = field.academies.count
                %span.heading
                  = pluralize(field.academies.count, 'Uczelni', plural: 'Uczelniach')                 
            .column.is-2.has-text-centered
              %div
                %p.heading Zainteresowanych
                %p.subtitle
                  = field.users.count
            .column.is-1.has-text-centered
              %div
                %p.heading Ranking
                %p.subtitle
                  TODO
  = paginate(@fields, class: 'pagination')
        
