.container{style: 'padding: 15px;'}
  %h1.title Dodaj kierunek
  .container
    .columns
      .column.is-9
        = form_for(@field_of_study, url: new_field_path(@field_of_study), remote: true, authenticity_token: true) do |f|
          .field
            = label(:name, 'Nazwa kierunku', class: 'label')
            .control
              = f.text_field :name, class: 'input'
          .field
            = label(:field_type, 'Typ kierunku', class: 'label')
            .control
              .select
                = f.select(:field_type, [['Humanistyczny', 'humanities'], ['Administracyjny', 'administrative'], ['Artystyczny', 'artistic'], ['Medyczny', 'medical'], ['Społeczny', 'social_sciences'], ['Nauki przyrodnicze', 'natural_sciences'], ['Nauki ścisłe', 'formal_sciences'], ['Nauki techniczne', 'technical'], ['Wychowanie fizyczne', 'sports'], ['Filologiczny', 'linguistic'], ['Ekonomiczny', 'economical'], ['Pedagogiczny', 'pedagogical'], ['Prawniczy', 'law'], ['Psychologiczny', 'psychological'], ['Wojskowy', 'military'], ['Rolniczy', 'agricultural'], ['Inny', 'others']], { include_blank: true })
          .field
            .control
              = f.submit "Dodaj", class: 'button is-primary'
      .column
        %article.message.is-warning
          .message-header
            %p Info
          .message-body
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Tempus quis placerat ut, porta nec nulla. 
            Vestibulum rhoncus ac ex sit amet fringilla. 
            Nullam gravida purus diam, et dictum. Aenean ac, in mollis lectus. Donec sodales, 
            arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque.