= javascript_pack_tag 'new_details_form'
.container{style: 'padding: 15px;'}
  %h1.title Dodaj szczegóły kierunku na uczelni
  .container#formula-generator
    = form_for(@field_detail, url: new_detail_path(@field_detail), remote: true, authenticity_token: true) do |f|
      .columns
        .column.is-9
          .field
            = label(:field_of_study_id, 'Kierunek', class: 'label')
            .control
              .select
                = f.select(:field_of_study_id, FieldOfStudy.all.collect {|p| [ p.name, p.id ] }, selected: params[:field_id])
          .field
            = label(:academy_id, 'Uczelnia', class: 'label')
            .control
              .select
                = f.select(:academy_id, Academy.all.collect {|p| [ p.name, p.id ] }, selected: params[:academy_id])
          .field
            = label(:students_limit, 'Limit przyjęć', class: 'label')
            .control
              = f.number_field :students_limit, class: 'input', min: 0
          .field
            = label(:minimal_points, 'Próg punktowy', class: 'label')
            .control
              = f.number_field :minimal_points, class: 'input', min: 0
          .field{'v-if':'isConfirmed'}
            = label(:recrutation_formula, 'Wzór rekrutacyjny', class: 'label')
            .control
              = f.text_field :recrutation_formula, class: 'input', 'v-model': 'formula'
          .field{'v-if':'isConfirmed'}
            .control
              = f.submit "Dodaj szczegóły", class: 'button is-primary'
        .column
          %article.message.is-warning
            .message-header
              %p Info
            .message-body
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Tempus quis placerat ut, porta nec nulla. 
              Vestibulum rhoncus ac ex sit amet fringilla. 
              Nullam gravida purus diam, et dictum. Aenean ac, in mollis lectus. Donec sodales, 
              arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque.
      %hr
      = render 'recrutation_formula_field'