!!! 5
%html
  %head
    %title Highschooler
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/navigation'
    .app-content
      - if notice
        .container.is-fluid.notification-box
          .notification.is-info
            = notice
      - if alert
        .container.is-fluid.notification-box
          .notification.is-danger
            = alert
      = yield
    = render 'layouts/footer'
