!!! 5
%html
  %head
    %title Highschooler
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'signup_form'
  %body
    = render 'layouts/navigation'
    = yield
    = render 'layouts/footer'
